@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    /* Color Pallete */
    --background-main: #1b1a1a;
    --background-card: #131111;
    --main-font:cantarell, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--background-main);
    color: var(--header-color);
    font-family: var(--main-font);
}

.site-nav {
    background-color: var(--background-card);
    /* color: var(--header-color); */
    padding: 30px;
    text-align: center;
    margin: 0;
}

.nav-list {
    display: flex; 
    justify-content: left;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font: 25px var(--main-font);
    color:aliceblue;
}

a {
    color:aliceblue;
    text-decoration: none;
}