@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    /* Color Pallete */
    --background-main: #131212;
    --background-card: #131111;
    --text-color:aliceblue;;

    /* Main Font */
    --main-font:cantarell, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-main);
}

.site-nav {
    background-color: var(--background-card);
    /* color: var(--header-color); */
    padding: 30px;
    text-align: center;
    border: 1px solid #252525;
}

.nav-list {
    display: flex; 
    justify-content: left;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font: 25px var(--main-font);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.section-title {
    margin-left:30px;
    margin-top: 20px;
    color: var(--text-color);
    font:30px var(--main-font);
}