/* HEADER */

.site-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.site-nav {
    background-color: rgba(var(--background-main), 0.3);
    border: 4px solid var(--background-card);
    height: 75px;
    width: 45%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex; 
    justify-content: center;
    gap: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font: 23px var(--main-font);
}

/* BODY - PART 1 */

.body-content {
    background-color: var(--background-main);
    justify-content: center;
    align-items: center;
}

.main-content-1-container {
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border-bottom: 0.5px solid var(--background-card); */
    border: 2px solid #F8FAFC;
    border-radius: 8px;
}

.main-content-1 {
    margin-top: 5%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border: 2px solid green; */
}

.introduction-part-container {
    background-color: var(--background-card);
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    /* border: 2px solid blue; */
}

.text-container-1 {
    height: 70%;
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;

    /* border: 2px solid red; */
}

.profile-picture-container {
    height: 70%;
    width: 40%;
    
    /* border:2px solid red; */
}

.profile-picture {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.main-content-2 {
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}